.panda-bg {
  background-color: #feeae9;
  border-radius: 10px;
}

/* Categories background */
.watch-bg-color {
  background: linear-gradient(152.07deg, #ff9c35 1.47%, #ffd019 97.17%);
}
.bag-bg-color {
  background: linear-gradient(180deg, #ff589b -0.01%, #ff136f 99.99%);
}
.shows-bg-color {
  background: linear-gradient(170.41deg, #4289ff -10.89%, #3f07f8 92.77%);
}

.buynow-btn {
  background: linear-gradient(180deg, #ff589b -0.01%, #ff136f 99.99%);
  border: none;
}

.price-color {
  color: #ff136f;
}
.menu-items {
  /* color: #FF136F; */
  font-weight: 600;
}
